* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
}

.calculator {
    background: #b91414;
    padding: 20px;
    border-radius: 15px;
    width: 260px;
    box-shadow:
        inset 0 2px 5px rgba(255,255,255,.3),
        0 8px 20px rgba(0,0,0,.3);
}

.display {
    background: #b7d7a8;
    color: #222;
    height: 60px;
    border: 4px solid #222;
    border-radius: 6px;
    margin-bottom: 15px;
    text-align: right;
    padding: 10px;
    font-size: 2rem;
    font-family: "Courier New", monospace;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

button {
    height: 50px;
    border: none;
    border-radius: 6px;
    background: #222;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 3px 0 #000;
    transition: 0.1s;
}

button:active {
    transform: translateY(3px);
    box-shadow: none;
}

.operator {
    background: #333;
}

.equal {
    background: #ff9500;
    grid-column: span 2;
}